<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stock">
   <test name="Sample">
     <groups>
    <run>
      <include name="SMOKE"/>
      
    </run>
  </groups>
     <classes>
      
      <class name="VasuTestNg.GroupTest1"/>
      <class name="VasuTestNg.GroupTest2"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
